* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    list-style-position: inside;
}

h1,
h2,
h3 {
    margin: 2vh 0vw;
}

p {
    color: gray;
}

.capitalize {
    text-transform: uppercase;
}

header {
    background-color: #fafafa;
    padding: 10px;
    border-bottom: .5px solid rgb(243, 237, 237);
}

nav {
    padding: 10px;
}

nav span {
    color: gray;
}

.main-image {
    width: 100%;
    height: auto;
}

.text-on-web-development {
    padding: 10px;
}

.text-on-web-development p {
    margin-bottom: 1vw;
}

section {
    padding: 10px;
}

section>div {
    margin: 10px 0px;
}


/*displaying the logos using flexbox*/

.logo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo-item {
    flex: 1 0 20%;
    margin: 5px;
}

.logo-container img {
    width: 60%;
    height: auto;
}

footer {
    background-color: #664cca;
    padding: 10px;
    color: white;
}

footer h3 {
    margin: 4vh 0vw 2vh;
}

.map {
    overflow: hidden;
    padding-bottom: 50%;
    position: relative;
    height: 0;
}

.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

footer p,
footer li {
    margin: 1vh 0vw;
}

footer a,
footer p {
    color: white;
    font-weight: bold;
}

.without-bold {
    font-weight: normal;
}

.footer div:nth-child(2) p {
    display: inline;
}

@media only screen and (min-width:601px) and (max-width:991px) {
    header {
        padding: 20px 10px;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav li {
        margin-right: 2em;
        padding: 10px 0px;
    }
    .map {
        padding-bottom: 100%;
    }
    .footer {
        display: flex;
    }
    footer>div {
        flex: 1;
        justify-content: space-around;
    }
    .footer div:nth-child(1) {
        width: 20vw;
    }
    .footer div:nth-child(2) p {
        display: block;
    }
    .footer p {
        margin: 10px 0px;
    }
    .footer li {
        margin: 20px 0px;
    }
}

@media only screen and (min-width: 992px) {
    body {
        font-size: 1.2em;
    }
    h1 {
        margin: 8vh 11vw 2vh;
    }
    h2,
    h3 {
        padding: 10px 0px;
    }
    header p {
        margin: 0 0 8vh 11vw;
    }
    nav {
        margin: 4vh 11vw;
    }
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav li {
        margin-right: 2em;
    }
    /* making the 2 div's in reverse order using flex-flow property.
    https://www.w3schools.com/cssref/css3_pr_flex-flow.asp*/
    main>div {
        display: flex;
        flex-flow: row-reverse wrap;
    }
    main .left-side {
        flex: 1;
        font-size: .8em;
        margin-left: 10vw;
        margin-right: 5vw;
    }
    main .right-side {
        flex: 2;
        margin-right: 10vw;
    }
    section {
        display: flex;
    }
    section .right-side {
        flex: 2;
        margin-right: 10vw;
        margin-left: 10px;
        padding-left: 5px;
    }
    section .left-side {
        flex: 1;
        font-size: .8em;
        margin-left: 9.5vw;
        margin-right: 5vw;
        padding-left: 10px;
    }
    .map {
        padding-bottom: 100%;
    }
    .footer {
        display: flex;
        margin: 5vh 10vw;
    }
    footer>div {
        flex: 1;
        justify-content: space-around;
    }
    .footer div:nth-child(1) {
        width: 15vw;
    }
    .footer div:nth-child(2) p {
        display: block;
    }
    .footer p {
        margin: 10px 0px;
    }
    .footer li {
        margin: 20px 0px;
    }
}